body {
    overflow-x: auto; /* Enable horizontal scrolling */
}

#recommended-products {
    display: flex; /* Use flexbox for horizontal layout */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px; /* Optional: Add some padding */
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 70px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchP {
    margin-left: 40px;
}

#search-input {
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #d0d0d0; /* Add border */
    border-radius: 5px; /* Rounded corners */
    margin: 10px 0; /* Add margin for spacing */
    font-size: 16px; /* Increase font size */
    color: #333; /* Text color */
}

#sort-options {
    align-content: center;
    display: flex;
    justify-content: center;
}

.product {
    background: #ffffff;
    border: 1px solid purple; /* Changed to purple */
    border-radius: 12px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product img {
    width: 70px; 
    height: 70px;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.dark-mode {
    background-color: #333333; 
    color: #ffffff; 
}

.dark-mode .product {
    border: 2px solid purple;
    box-shadow: 0 0 10px purple;
}

header {
    background: #f8f8f8;
    color: #333333;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

main {
    margin-bottom: 80px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f8f8f8;
    color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

#checkout-button {
    background-color: #007aff; 
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 12px 24px; 
    transition: background-color 0.3s; 
}

#sort-options {
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #d0d0d0; /* Add border */
    border-radius: 5px; /* Rounded corners */
    margin: 10px 0; /* Add margin for spacing */
    font-size: 16px; /* Increase font size */
    color: #333; /* Text color */
}

.select-button {
    background-color: #f0f0f0; 
    border: 1px solid #d0d0d0; 
    border-radius: 10px; 
    color: #007aff; 
    font-size: 16px; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s; 
}

.select-button:hover {
    background-color: #e0e0e0; 
    color: #0051a8; 
}

#checkout-button:hover {
    background-color: #0051a8; 
}
